@import "../node_modules/gitbook-plugin-theme-kanemanual/src/scss/variables";
@import "../node_modules/gitbook-plugin-theme-kanemanual/src/scss/all";

.cover {
  h1 {
    font-size: 8rem;
    text-align: center;
    margin: 0;
  }

  h2 {
    text-align: center;
    font-size: 4rem;
    margin: 0;
    font-weight: 100;
  }

  img {
    margin: auto;
    display: block;
  }
}

